a{color:#656565; &:hover{color:#5285bc;}}

.box-wrap{
	border:solid 1px #619fd2;
	.box-head{
		height:32px; background:#6fb3e0; position:relative; color:#fff;
		h3{font-size:12px; line-height:32px; text-indent:14px; border-bottom:solid 1px #619fd2;}
		.options{
			position:absolute; right:0px; top:0; height:100%;
			.tools{
				overflow:hidden; border-left:solid 1px #fff; height:22px; margin:5px 10px 0 0;
				span{float:left; margin:2px 0 0 10px; cursor:pointer; _display:inline;}
			}
			.tabs{
				margin-top:4px; position:relative; right:-2px;
				li{float:left; padding:7px 0 8px; border-top:solid 2px transparent; cursor:pointer;}
				span{display:block; line-height:12px; padding:0 10px; border-right:solid 1px #fff;}
				.active{
					background:#fff; color:#5285bc; border-top-color:#5f9ed1;
				}
			}
		}
	}
	.box-body{
		.task-list{
			position:relative; left:-1px; bottom:-1px;
			li{
				border-left:solid 3px; float:none; width:auto;
				a{display:block; padding:10px 0; border-bottom:solid 1px #ddd; text-indent:12px;}
				a:hover{background:#f9faff;}
			}
		}
		.file-list{
			table{
				table-layout:fixed; width:100%;
				th{font-weight:bold;}
				th, td{border:solid 1px #e2e1df; height:34px; padding:0 5px; white-space:nowrap;}
			}
		}
	}
}